<% include _header %>

<h1>Edit your profile</h1>

<form action="/edit" method="post">
  <div class="form-group">
    <label for="inputUsername">Username</label>
    <input name="username" type="text" class="form-control-plaintext" id="inputUsername" value="<%= currentUser.name() %>" readonly>
  </div>
  <div class="form-group">
      <label for="inputDisplayname">Display name</label>
      <input name="displayname" type="text" class="form-control" id="inputDisplayname" placeholder="Display name" value="<%= currentUser.displayName || '' %>">
    </div>
    <div class="form-group">
      <label for="inputBio">Biograph</label>
      <textarea name="bio" class="form-control" id="inputBio" placeholder="Tell us about yourself" ><%= currentUser.bio || '' %></textarea>
    </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>

<% include _footer %>
